@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rubik:ital@0;1&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    background-color: #7090f7;
    overflow: hidden;
}

#headerContainer{
    background-color: rgb(105, 136, 238);
    margin-bottom: 25px;
    height: 72px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 9px;
}

.titleHeader {
    text-align: center;
    color: #f7faa0;
    margin-bottom: 43px;
    font-family: 'Rubik', sans-serif;
}

#gameScore{
    margin: 40px;
    text-align: center;
    font-size: 33px;
    color: #eef0b7;
    word-spacing: 2px;
    font-family: 'Rubik', sans-serif;
}
#playerDisplay{
    font-weight: bold;
    font-size: 38px;
    color: #eeabc6;
}

#resetBtn {
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #317549;
    background-color: #72da96;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

#resetBtn:hover {
    background-color: #f1b7ce;
    border: 1px solid #f174a4;
}

#gameBoardContainer {
    position: relative;
    width: 525px;
    height: 525px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 4px solid #f0f39a;
    border-radius: 7px;
    
}

.cell {
    border: 7px solid #f1f3c2;
    cursor: pointer;
    background-color: #a0bcfd;
    position: relative;
    border-radius: 4px;
}

.cell:hover {
    background-color: #a9c1fa;
}

.cell-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 3px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    border-radius: 5px;
}

.X,
.O {
    font-size: 5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* disable highlight for markers */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

